<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Working Papers</h3>
  <p><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4064763" target="_blank"> <b>Long-Term Bond Supply, Term Premium, and the Duration of Corporate Investment</b>
      </a></p>
    <p><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4064763" target="_blank">[SSRN]</a>
      <a href="http://antoinehubertdefraisse.github.io/pdf/1_term_structure_and_corp_investment_internetappendix.pdf" target="_blank">[Internet Appendix]
      </a> <p>
    <p align="justify"> <u><em>Abstract:</em></u> Shocks to the supply of long-term bonds affect the duration of corporate investment. Using plausibly exogenous variation in the maturity structure of US government debt, I find that a higher supply of long-term bonds increases firms’ financing costs at long horizons leading to a crowding-out of long-duration investment. I show that this crowding out occurs through a redistribution of capital on the basis of cash-flow duration, both across firms and within firm across projects. I also show that these changes in the duration of investment map into changes in the maturity of corporate debt. These results identify important real effects of policies which affect the net supply of long-term bonds, such as quantitative easing by central banks.
 	</p>	    
    <p align="justify"> <u><em>Presentations:</em></u> Adam Smith Workshop (2023, expected), SED (2023, expected), FIRS Annual Meeting (2023, expected), MFA (2023), FIFI Conference (2022), MFR Summer Session for Young Scholars at UChicago (2022), FIRS Annual Meeting Ph.D. Student Session (2022), AFFI (2022), EFMA (2022), HEC Brownbag (2021 x2). 
    </p>
    
      <br>
    
    <p><a href="transmission.pdf" target="_blank"><b>Transmission of Monetary Policy and the Pricing of Loans</b>
      </a></p>  
    
  </div>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Policy Publications </h3>
    
      <p><a href="https://www.ecb.europa.eu/pub/pdf/scpwps/ecb.wp2232~c3399f4b01.en.pdf" target="_blank"> 
        <b> From Cash- to Securities-Driven Euro Area Repo Markets: the Role of Financial Stress and Safe Asset Scarcity
      </b>  </a></p>
    <p>with Claus Brand and Lorenzo Ferrante (2019)</p>
        <p> <i> European Central Bank Working Paper No. 2232</em></u> </i>
    <p><a href="https://www.ecb.europa.eu/pub/pdf/scpwps/ecb.wp2232~c3399f4b01.en.pdf" target="_blank">[ECB Working Paper Series]</a><p>
</div>
</div>


