---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h3 class="fw-bold">About me</h3>
    Welcome to my website!  <p></p>
    I’m a PhD Candidate in Economics at the Paris School of Economics (PSE). <p></p>
    My primary research interests lie in the area of economics of education, labour economics and public economics. <p></p>
    You can download my CV <a href="http://desislavatartova.github.io/pdf/CV_DTARTOVA.pdf" target="_blank">here</a>. 
	   <p></p> 
    <h3 class="fw-bold">Contact</h3>
    Email: desislava.tartova@psemail.eu
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/profile.jpeg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Featured Paper</h3>

  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/teachers.png" alt="Home" width="100%">
  </div>
<div class="col-md-7">
            <p><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4395082" target="_blank">
<b>Teacher Value-Added in the Absence of Annual Test Scores: Utilising Teacher Networks</b>
		    </a></p>
	 <p><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4395082" target="_blank">[SSRN]</a></p>
	<p align="justify"> <u><em>Abstract:</em></u> I develop a novel method for estimating teacher value added which controls for non-random student-teacher sorting without having to control for lagged grades in standardised tests. To do so, I exploit "networks" of teachers  - teachers from the same subject who are observed in classrooms with a unique "link" teacher from another subject. I measure the relative value added of two teachers in a network as the difference between their classrooms' grades in a standardised exam, unexplained by student characteristics, correcting for the classrooms' grade differential in the subject of the link teacher. I show that the estimated teacher effects are unbiased under plausible assumptions that I confirm in the data. Using exhaustive French administrative data, I find that a 1 SD increase in  teacher value added within school improves student scores by 0.17 SD in Math and 0.16 SD in French.
	</p>
  </div>
	    <p align="justify"> <u><em>Presentations (including expected):</em></u> CESifo / ifo Junior Workshop on the Economics of Education (2023), SSE Quality in Education Conference (2023), 18th Doctorissimes Conference (2023), European Association of Labour Economists (EALE) Conference (2023), PSE Applied Economics Seminar (2023), ENS Workshop in Economics of Education (2022), PSE Labour and Public Economics Seminar (2022). </p>
</div>



